.Rproj.user
.Rhistory
.RData
.Ruserdata
_book/*
_bookdown_files/*

.DS_Store

thesis.run.xml

thesis.lot

thesis.lof

comment.cut

Appendix/Appendix.aux

uqthesis.cls_old

uqthesis.tex_old

uqthesis.tex
